<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zp.sys.dao.ProvinceCityMapper">
  
  <select id="provinceCityList" resultType="com.zp.sys.entity.ProvinceCity">
    select id,name,uid from t_province_city order by name asc;
  </select>
  
  <select id="provinceCityListByUid" parameterType="int" resultType="com.zp.sys.entity.ProvinceCity">
    select id,name,uid from t_province_city WHERE uid=#{uid} OR id=#{uid}
  </select>
  
  <select id="getCityNameById" parameterType="int" resultType="String">
  		select name from t_province_city where id=#{cityId}
  </select>
  
  <select id="getProvinceIdByuid" parameterType="int" resultType="String">
  		select uid from t_province_city where id=#{cityId}
  </select>
  
  <select id="getCityList" resultType="com.zp.sys.entity.ProvinceCity">
  		select name from t_province_city where uid = 1
  </select>   
  <select id="provinceCityListByUser" parameterType="java.lang.Long" resultType="com.zp.sys.entity.ProvinceCity">
    select id,name,uid from t_province_city WHERE id in(
    	select id from t_user_city where user_id=#{userId}
    )
  </select>
  
  <!-- 查找所有的市集合 -->
  <select id= "getAllCity" resultType="String">
  		select NAME from T_PROVINCE_CITY where uid = 1 
  </select>
  
  <!-- RNC导入时根据网元名称查找出对应的网元名称归属ID -->
  <select id="getCityIdByName" parameterType="String" resultType="Integer">
  		select 
  			id 
  		from 
  			t_province_city 
  		where
		 name like '${cityName}%'	
  </select>
</mapper>