<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="set.com.yinda.set.dao.FeedbackMapper">

  
  <resultMap id="feedback"  type="Feedback"> 
		<id property="id"  column="id" />
		<result property="title" column="title"/>
		<result property="problem" column="problem"/>
		<result property="image_path" column="image_path"/>
		<result property="createDate" column="createDate"/>
  </resultMap>
  
  <select id="getFeedbackList" parameterType="map" resultType="Feedback">
    SELECT * FROM sys_feedback where status_cd='00A'
  </select>
  
  <update id="delFeedbackById"  parameterType="int" >
  		update sys_feedback set status_cd='00X' WHERE id=#{id} 
  </update>
  
  <select id="getFeedbackDetaillistPage" parameterType="map" resultType="FeedbackDetail">
    SELECT t1.id as id,t1.title as title,t1.problem as problem,t1.image_path as image_path,t1.create_date as createDate,
    user.user_id as userId,user.user_name as userName,user.head_image head_image,t1.back_type as back_type,t1.priority as priority
    FROM sys_feedback t1 
    left join t_user user on t1.user_id=user.user_id 
    where status_cd='00A'
    <if test="userId !=null and userId!='' ">
		 and t1.userId = #{userId} 
	</if>
    <if test="problem > '' ">
		 and t1.problem like '%${problem}%' 
	</if>
	<if test="userName > '' ">
		 and user.user_name like '%${userName}%' 
	</if>
	<if test="startDate > '' and endDate > '' ">
    	and t1.create_date between #{startDate} and date_add(#{endDate},interval 1 day) 
    </if>
    order by t1.create_date desc
  </select>
  
  <select id="getFeedbackDetail" parameterType="int" resultType="FeedbackDetail">
    SELECT t1.id as id,t1.title as title,t1.problem as problem,t1.image_path as image_path,t1.create_date as createDate,
    user.user_id as userId,user.user_name as userName,user.head_image head_image,t1.back_type as back_type,t1.priority as priority
    FROM sys_feedback t1 
    left join t_user user on t1.user_id=user.user_id 
    WHERE id=#{id} 
  </select>

  <insert id="addFeedback" parameterType="FeedbackDetail">
  	INSERT INTO sys_feedback(user_id,problem,image_path,status_cd,create_date,title,back_type,priority)
  	 VALUES(#{userId},#{problem},#{image_path},'00A',#{createDate},#{title},#{back_type},#{priority})
  </insert>
  

</mapper>